{% extends "base.html" %}

{% block title %}Meet the Team{% endblock %}

{% block content %}
    <section id="team" class="section team">
        <div class="container team-page">
            <h1 class="section-title">Meet the Team</h1>
            <div class="team-member">
                <img src="/static/images/profile.jpg" alt="Arav Bhargava" class="profile-photo">
                <h2 class="team-member-name">Arav Bhargava</h2>
                <p class="team-member-role">Founder & CEO</p>
                <p class="team-member-description">
                    Arav Bhargava is the founder and CEO of Mobilis. In the past years, he has developed and patented a size-adjustable, 3D-printed prosthetic socket that costs less than $30 to produce and is nearly as strong as existing systems. This innovation aims to improve access to prosthetic limbs, especially for people living in low-income nations.</p>
                <p class="team-member-description">
                    Arav's commitment to accessibility extends beyond his engineering projects. He volunteered with Arlington County Adaptive Aquatics, teaching children with disabilities to swim and creating an Capital Emmy award winning marketing video for the program. This experience inspired his research into prosthetics. He also developed an NPR award-winning seven-episode podcast called "The Prosthetic Experience," where he interviewed experts in the field, including a surgeon who created a novel amputation method to connect muscles and nerves within the limb, allowing high-tech bionics to be used.
                </p>
                <p class="team-member-description">
                    In recognition of his work, Arav was named a Top 40 finalist in the 2024 Regeneron Science Talent Search, one of the nation's oldest and most prestigious science and math competitions for high school seniors. He was awarded $27,000 for his prosthetic design and participated in the Regeneron Finals Week competition in Washington, D.C.
                </p>
            </div>
        </div>
    </section>
{% endblock %}
